
<% if(user_id){ %>
  <form action="/logout" method= "POST"> <h2>Welcome <%= user_id %> <button>Logout</button> </h2></form>
<%} else {%>
<a href="register"> Register here </a>  
<a href="login"> login here </a>  
<%}%>
