<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <title></title>
</head>
<body>
  <div class="alert alert-success" role="alert">
  Congratulations !!! you're successfully registered. Please login using the link below:
  </div>
  <a href="login" class="btn btn-success" style="margin-left:10px;" > Login here </a>
</body>
</html>