<h3>Please enter your details!</h3>

<form action= "/login" method="POST">
   <label>Enter your email</label>
  <input type="email" name="email">
  <label>Enter your password</label>
  <input type="password" name="password"></input>
   <button> Login </button>   
</form>