<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px;">
    <% include partials/_header %>
    <form action="/urls" method="POST">
      <label for="longUrl">Enter a URL:</label>
      <input id="longUrl" type="text" name="longUrl" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>