<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <h1>Link Editor</h1>
  <ul>
    <% for(var key in urls){  %> 
     <form method="POST" action="/urls/<%= key %>/delete">
    <li> <%= key %> : <%=  urls[key] %> <a href="urls/<%=key%>"> Update </a><button> Delete </button> </form> </li> 
    
    <% } %>
  </ul>
</body>
</html>



