<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h3>Please fill the details below</h3>
<form action="/register" method="POST">
  <label>Enter your email</label>
  <input type="email" name="email">
  <label>Choose your password</label>
  <input type="password" name="password"></input>
<button>Register</button>
</form>
</body>
</html>